.progress {
    border-radius: 15px;
    padding: 4px 10px 4px 10px;
    width: 37.5em;
  }
  .base_stats {
    display: flex;
    flex-direction: column;
    gap: 9px;
    align-items: center;
    width: 758px;
    height: 100px;
    padding: 10px;
  }
  .progcolour{
    height: 12px;
    padding-left: 10px;
    border-radius: 15px;
  }

  .skills {
    display: flex;
    gap: 10px;
    padding-bottom: 4px;
    border-bottom: 0.01em solid lightgrey;
  }
  .info_3{
    margin-left: -40vw;
    width: auto;
    height: auto;
  }